/* sidepanel.js/SidePanel.css */

.side-panel {
    background-color: #1a1a1a;
    color: #fff;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  .title {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .slider-container {
    margin-bottom: 10px;
  }
  
  .slider-label {
    display: block;
    margin-bottom: 5px;
  }

  .controls-panel{
    display: grid;
    grid-template-columns: auto;
    margin: 5px;
  }

  .control-buttons{
    display: grid;
    grid-template-columns: auto 20%;
    margin: 5px;
  }
  .control-buttons.inactive {
    opacity: 0.5; /* Adjust the opacity or add other styles for the inactive state */
    pointer-events: none; /* Disable pointer events for inactive buttons */
  }
  

.base-control{
  border: white solid 0.5px;
  border-radius: 4px;
  padding: 5px;
  margin-bottom: 2rem;
}
.base-control.inactive {
  opacity: 0.5; /* Adjust the opacity or add other styles for the inactive state */
  pointer-events: none; /* Disable pointer events for inactive buttons */
}
